
@media (max-width: 1000px){

    .banner{
        width: 90vh;
        height: 100vh;
    }

    .parrafo-h1{
        width: 50vh;
    }

    .menu{
        width: 100%;
        background-color: #1d1d1d;
        height: 70vh;
    }

    .hover:hover{
        background-color: rgb(26, 26, 26);
    }
}


@media (max-width: 600px) {

    .banner{
        display: none;
    }
  }